<style>
    .checkout-error-border {
        border : 1px solid #BC3B3B;
        border-radius : 5px;
    }
</style>
<script type="text/javascript">
    var residents = <?=$residents?>;
    var existing_damage = <?=$existing_damage?>;
    var previous_key_code = <?=$previous_key_code?>;
    var damage_types = <?=$damage_types?>;
    var room_pid = '<?=$room_pid?>';
    var checkin_id = '<?=$checkin_id?>';
    var banner_id = '<?=$banner_id?>';
</script>
<h2>
    <span class="text-primary"><?=$student?></span> <span class="text-muted">(<?=$banner_id?>)</span> <span style="font-size : .8em; font-weight:normal">checking out of</span> <span class="text-primary"><?=$hall_name?></span>
</h2>
<hr />


<!-- see CheckOut.jsx -->
<div class="container">
    <div id="checkout"></div>
</div>
