<div class='panel panel-default'>
    <div class='panel-body'>
        <?php if (isset($reportrunner_create)):?>
        <a class="btn btn-success btn-sm" href="index.php?module=hms&amp;action=SavePulseOption&amp;cmd=add&amp;schedule_type=reportrunner"><i class="fa fa-plus"></i> Create schedule</a>
        <?php endif; ?>
        <?php if (isset($reportrunner_remove)):?>
        <a class="btn btn-danger btn-sm" href="index.php?module=hms&amp;action=SavePulseOption&amp;cmd=remove&amp;schedule_type=reportrunner"><i class="fa fa-trash-o"></i> Drop schedule</a>
        <?php endif; ?>
        <?=$reportrunner?>
    </div>
</div>
<div class='panel panel-default'>
    <div class='panel-body'>
        <?php if (isset($nightly_cache_create)):?>
        <a class="btn btn-success btn-sm" href="index.php?module=hms&amp;action=SavePulseOption&amp;cmd=add&amp;schedule_type=nightly_cache"><i class="fa fa-plus"></i> Create schedule</a>
        <?php endif; ?>
        <?php if (isset($nightly_cache_remove)):?>
        <a class="btn btn-danger btn-sm" href="index.php?module=hms&amp;action=SavePulseOption&amp;cmd=remove&amp;schedule_type=nightly_cache"><i class="fa fa-trash-o"></i> Drop schedule</a>
        <?php endif; ?>
        <?=$nightly_cache?>
    </div>
</div>
<!--
<div class='panel panel-default'>
    <div class='panel-body'>
        <?php if (isset($autoassign)):?>
        <button class="btn btn-primary btn-sm create-schedule" data-type="autoassign"><i class="fa fa-plus"></i> Create schedule</button>
        <?php endif; ?>
        <?=$autoassign?>
    </div>
</div>
<div class='panel panel-default'>
    <div class='panel-body'>
        <?php if (isset($withdrawn)):?>
        <button class="btn btn-primary btn-sm create-schedule" data-type="withdrawn"><i class="fa fa-plus"></i> Create schedule</button>
        <?php endif; ?>
        <?=$withdrawn?>
    </div>
</div>
-->
<div class='panel panel-default'>
    <div class='panel-body'>
        <?php if(isset($roomChangeReminder_create)):?>
            <a class="btn btn-success btn-sm" href="index.php?module=hms&amp;action=SavePulseOption&amp;cmd=add&amp;schedule_type=roomChangeReminder">
                <i class="fa fa-plus"></i> Create schedule
            </a>
        <?php endif; ?>
        <?php if (isset($roomChangeReminder_remove)):?>
            <a class="btn btn-danger btn-sm" href="index.php?module=hms&amp;action=SavePulseOption&amp;cmd=remove&amp;schedule_type=roomChangeReminder">
                <i class="fa fa-trash-o"></i> Drop schedule
            </a>
        <?php endif; ?>
        <?=$roomChangeReminder?>
    </div>
</div>
