/*****************************
 * Twitter Typeahead Styling *
 *****************************/
.tt-hint {
  color: #999;
}

.tt-menu {
  width: 422px;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion p {
  margin: 0;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}
/***** End Typeahead Styles *****/

/* Override vertical space on a h3 inside panel headings */
/*
.panel-heading h3 {
  margin-top: 10px;
}
*/

.block-center {
  margin: 0 auto;
}

.strike {
  text-decoration: line-through;
}

a.header-back {
	float:left;
	color: #CCC;
	margin-right: 25px;
	margin-top: 5px;
}

a.header-back:hover {
	color: #4183c4;
}

a.header-back span {
	display:inline-block;
	text-decoration:none;
	font-size: 32px;
	font-weight: bold;
}

a.header-back span:before{
	content: '\003c';
}

/*** REMOVE THIS ONCE HMS IS BOOTSTRAPPED ***/
.table>tr.success {
    color: #dff0d8;
}

/* Indenting */
.left-indent-15 {
    padding-left: 15px;
}

.right-indent-15 {
    padding-right: 15px;
}

/* Required Field Label */
.required {
	color: #F00;
	font-weight: bold;
}


/******************************
 * Table styles for reporting *
 ******************************/
.reportOutputTable {
  border: 1px solid;
  border-collapse: collapse;
  border-spacing: 0px;
}

.reportOutputTable th {
  border-radius: 0px;
  border: 1px solid;
}

.reportOutputTable tr {
  border: 1px solid;
}

.reportOutputTable td {
  border: 1px solid;
}

/* OLD STUFF */

.note {
  color: black;
  background: #ECEFF5;
  padding: 5px;
}

.unassigned_link a {
  color: #0A0;
}

#hms-main {
  clear: both;
  padding: 1em 0;
}

#hms-guest-main {
  display: block;
  padding: 0 5em;
}

.special-needs-text {
  background: #F3F3F3;
  margin-left: 35px;
  margin-top: 15px;
  padding: 4px;
}

.hms-application-submit-button {
  font-size: 1.3em;
  padding: 7px;
  -moz-box-shadow: 1px 1px 2px #000;
  -webkit-box-shadow: 1px 1px 2px #000;
  box-shadow: 1px 1px 2px #000;
}

.hms-student-menu-term-block {
  margin-left: 20px;
}

.floor_overlay {
  background: white;
  border: solid thin black;
}


.hms-student-menu-term-block h3 .locked {
  margin-bottom: 3px;
  color: #888;
}

.hms-student-menu-term-block .block-content {
  margin-left: 25px;
}

/**
 * Styles for the "hall-expander" in the message sending interfaces
 */
li.expanded.container {
  list-style-image: url("../../img/arrow_down.png");
}

li.collapsed.container {
  list-style-image: url("../../img/arrow_right.png");
}

li.noexpand {
  list-style-image: none;
  list-style: none;
}

#special-interest-table .accepted {
  background-color: #F4F4F4;
  font-style: italic;
}

#room_edit .ui-tabs-panel a {
  color: #0A759B;
}
