div.maintenance {
    display: block;
    float: left;
    margin: 1em;
}

/*
dl.maintenance dt {
    margin: 1em 0 0 0;
    font-weight: bold;
}

dl.maintenance dd {
    margin: 0 0 0 1em;
}
*/

img.hms_icon {
    float:left;
    width:32px;
    height:32px;
    padding-top:3px;
}

div.hms_maint {
    font-weight:bold;
    font-size:9pt;
    padding-left:35px;
    padding-bottom:15px;
}

div.hms_maint a {
    font-weight:normal;
    font-size:9pt;
    padding-left:8px;
}
