<style>
.assessment-rooms, .assessment-damages, .assessment-responsibilities {
  list-style: none;
}

.assessment-responsibility-name {
  display: inline-block;
  width: 200px;
  text-align: right;
}

.assessment-rooms .success {
  background-color: #CFC;
  padding: 0.5em;
}

.assessment-rooms .submit-damage {
  margin-top: 1em;
}

.assessment-rooms .failure {
  color: #F33;
}
</style>

<div ng-controller="RoomDamageAssessmentCtrl">
<div style="margin: auto; text-align: center">
  <h1>
    Damage Charges
  </h1>
</div>
<hr>
<ul class="assessment-rooms">
  <li data-ng-repeat="room in assessment.rooms">
    <div data-ng-hide="room.submitted == 'success'">
      <h2>Room {{room.room_number}}</h2>
      <form name="roomForm">
        <ul class="assessment-damages">
          <li data-ng-repeat="damage in room.damages">
            <h3>
              Damage to {{damageTypes[damage.damage_type].category}} - {{damageTypes[damage.damage_type].description}} - ${{damageTypes[damage.damage_type].cost}}
              <input type="button" value="Split Evenly" style="font-size:0.7em" data-ng-click="splitEvenly(damage)">
            </h3>
            <ul class="assessment-responsibilities">
              <li data-ng-repeat="responsibility in damage.responsibilities">
                <span class="assessment-responsibility-name">{{responsibility.studentName}}</span>
                <span class="assessment-responsibility-input">$<input type="text" data-ng-model="responsibility.amount" size="5" placeholder="0.00" dollars=""></span>
              </li>
              <li>
                <span class="assessment-responsibility-name"><strong>Total</strong></span>
                <span class="assessment-responsibility-input"><strong>$<input type="text" size="5" readonly="readonly" value="{{sumAmounts(damage.responsibilities)}}"></strong></span>
              </li>
            </ul>
          </li>
          <li class="submit-damage">
            <input type="button" value="Save Changes to {{room.hallName}} {{room.room_number}}" data-ng-click="submitDamage(room)" data-ng-disabled="!roomForm.$valid">
            <span class="failure" data-ng-show="room.submitted == 'failure'">An error occurred submitting to the server; please try again.</span>
            <span class="saving" data-ng-show="room.submitted == 'saving'">Saving...</span>
          </li>
        </ul>
      </form>
    </div>
    <div data-ng-show="room.submitted == 'success'" class="success">
      <h2>Room {{room.room_number}} successfully saved.</h2>
    </div>
  </li>
</ul>
</div>